In [1]:
# Importamos librerías

import pandas as pd
import numpy as np

C:\Users\lugeb\AppData\Local\Temp\ipykernel_9728\3368253338.py:3: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
# Importamos Data Set

video_games = pd.read_csv("C:/Users/lugeb/OneDrive/Escritorio/Python Projects/VideoGames.csv")

In [3]:
# Imprimimos las dimensiones del data Set y su encabezado

print(video_games.shape)

video_games.head(5)

(16928, 17)

,index,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales,Critic_Score,Critic_Count,User_Score,User_Count,Developer,Rating
0,0,Wii Sports,Wii,2006.0,Sports,Nintendo,41.36,28.96,3.77,8.45,82.53,76.0,51.0,8,322.0,Nintendo,E
1,1,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.68,12.76,3.79,3.29,35.52,82.0,73.0,8.3,709.0,Nintendo,E
3,3,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.61,10.93,3.28,2.95,32.77,80.0,73.0,8,192.0,Nintendo,E
4,4,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
video_games.dtypes

index                int64
Name                object
Platform            object
Year_of_Release    float64
Genre               object
Publisher           object
NA_Sales           float64
EU_Sales           float64
JP_Sales           float64
Other_Sales        float64
Global_Sales       float64
Critic_Score       float64
Critic_Count       float64
User_Score          object
User_Count         float64
Developer           object
Rating              object
dtype: object

In [4]:
#Eliminar valores nulos de columna Rating

video_games = video_games.dropna(subset=['Rating'])

In [5]:
# Volvemos a ver las dimensiones sin nullos en columna Rating

video_games.shape

(10092, 17)

In [6]:
# Cambiar valores específicos en una columna (Rating)

cambio_valores = {'E': 'ERESE', 'M': 'MORASE'}
video_games['Rating'] = video_games['Rating'].replace(cambio_valores)

In [7]:
# Imprimir valores únicos de una columna

video_games["Rating"].unique()

array(['ERESE', 'MORASE', 'T', 'E10+', 'K-A', 'AO', 'EC', 'RP'],
      dtype=object)

In [8]:
# Agrupar por 'Rating' y calcular el conteo y la suma
resultados = video_games.groupby('Rating').agg({'Rating': 'count', 'Critic_Score': 'sum'}).rename(columns={"Rating": "Contar_Rating", "Critic_Score":"Suma_Critic_Score"})


# Imprimimos resultado
resultados

        Contar_Rating  Suma_Critic_Score
Rating
AO                  1               93.0
E10+             1441            75840.0
EC                  8                0.0
ERESE            4043           195330.0
K-A                 3               92.0
MORASE           1590           108429.0
RP                  3              186.0
T                3003           184514.0